*.pyc
.project
.pydevproject
.settings
.idea
*~
snowtools/tests/output*
snowtools/tests/fail_test
snowtools/tests/Manual_tests
oper_tag
tag
.git_info
*.swp
snowtools/interpolation/interpol_MPIAUTO
snowtools/interpolation/interpol
*.o
*.mod
*.so
vortex_cen/s2m/alp/drivers
vortex_cen/s2m/pyr/drivers
vortex_cen/s2m/cor/drivers
vortex_cen/s2m/mac/drivers
vortex_cen/s2m/vog/drivers
vortex_cen/s2m/jur/drivers

GUI_selfcontain.zip

build/
dist/

.coverage
newvenevsnowtools
*.egg-info
*.orig
