*.pyc
.project
.pydevproject
.settings
.idea
*~
snowtools/tests/output*
snowtools/tests/fail_test
snowtools/tests/Manual_tests
!snowtools/tests/Manual_tests/index_template.html
oper_tag
tag
*.swp
snowtools/interpolation/interpol_MPIAUTO
snowtools/interpolation/interpol
*.o
*.mod

GUI_selfcontain.zip
DATA/shapefiles


build/

.coverage
newvenevsnowtools
*.egg-info
*.orig
