*.pyc
.project
.pydevproject
.settings
.idea
*~
snowtools/tests/output*
snowtools/tests/fail_test
snowtools/tests/Manual_tests
oper_tag
tag
*.swp
snowtools/interpolation/interpol_MPIAUTO
snowtools/interpolation/interpol
*.o
*.mod
GUI_selfcontain.zip
DATA/shapefiles
.coverage
