# Basic requirements
bronx
matplotlib
netCDF4
numpy>=1.8
scipy
python-dateutil
pyproj
shapely
psycopg2
pyshp
pandas
cartopy

# Other requirements
# xarray is a requirement for plots/compare.py and utils/proximu.py in case of use of NETCDF-4 file format
xarray
# rpy2 is a requirement for tools/emosCSG.py
# rpy2

# Requirements for generating the documentation
#sphinx>=4.3
#git+https://github.com/VACUMM/sphinx-fortran.git

# requirements for editable installs
# meson-python
# meson
# ninja

# GDAL:
#
# Gdal is a requirement for interpolation and utils/skyline-bdclim.py
# Requires libgdal and libgdal-dev (use `sudo apt install libgdal libgdal-dev`).
#
# To install python package, it is recommanded to installl the system package with:
# sudo apt install python3-gdal
#
# However, if you want to install it in a virtual environment, you can install gdal python package, once
# requirements fulfilled with the following command line:
# pip install GDAL==$(gdal-config --version) --global-option=build_ext --global-option="$(gdal-config --cflags)"
#
# Note that older versions of GDAL package
# (e.g. version currently obtained with previously cited packages of Ubuntu 20.04LTS)
# requires to have a version of setuptools<58.0.0
#
# Due to all these limitations, GDAL is not listed here as a requirement.
