# Basic requirements
bronx
matplotlib
netCDF4
numpy>=1.8
scipy
python-dateutil
pyproj
shapely
psycopg2
pyshp
pandas
cartopy
footprints
epygram
packaging
xarray>=0.18.0
rioxarray
snowtools-crps@git+https://github.com/UMR-CNRM/snowtools-crps.git
gdal==3.4.1
git+http://gitlab.meteo.fr/cnrm-gmap/mkjob.git

# Optionnal requirements
# "sql" extension
psycopg2
# "plot" extension
matplotlib
cartopy
epygram>=2.0
# "all" extension
psycopg2
matplotlib
cartopy
epygram>=2.0

# Requirements for generating the documentation
sphinx>=4.3
git+https://github.com/VACUMM/sphinx-fortran.git
sphinx-toolbox
graphviz

